<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.android">

    <!-- https://developer.android.google.cn/reference/android/Manifest.permission.html  完整权限表 -->


    <!-- 访问系统网络状态 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <!-- 监听开机广播 -->
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <!-- 访问手机账户 -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <!-- 读取联系人 -->
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <!-- 读取应用列表 -->
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <!-- 允许手机振动的权限 -->
    <uses-permission android:name="android.permission.VIBRATE" />
    <!-- 访问SD卡权限 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <!-- 访问网络权限声明 -->
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name="org.litepal.LitePalApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".activity.LoginActivity"
            android:label="@string/title_activity_login">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.FirstActivity" />
        <activity android:name=".activity.MainActivity">

            <!-- <intent-filter> -->
            <!-- <action android:name="android.intent.action.VIEW" /> -->
            <!-- <category android:name="android.intent.category.DEFAULT" /> -->
            <!-- <data android:scheme="http" /> &lt;!&ndash; 弹出选择浏览方式的形式打开 &ndash;&gt; -->
            <!-- </intent-filter> -->
        </activity>
        <activity
            android:name=".activity.FruitActivity"
            android:label="@string/linear" />
        <activity
            android:name=".activity.FruitActivity2"
            android:label="@string/linear" />
        <activity
            android:name=".activity.FruitActivity3"
            android:label="@string/staggeredgrid" />
        <activity
            android:name=".activity.MsgActivtiy"
            android:label="聊天对话框" />
        <activity
            android:name=".activity.BroadCastActivity"
            android:label="广播" />
        <activity android:name=".receiver.LocalBroadcastReceiver" />
        <activity android:name=".activity.SQLiteDatabaseActivity" />
        <activity android:name=".activity.LitePalActivity" />
        <activity android:name=".activity.ContactsActivity" />
        <activity android:name=".activity.DatabaseProviderActivity" />
        <activity android:name=".activity.SaveFileActivity" />
        <activity android:name=".activity.SharedPreferencesActivity" />
        <activity android:name=".activity.PictureActivity" />
        <activity android:name=".activity.PlayVideoActivity" />

        <!--  -->
        <receiver
            android:name=".receiver.BootCompleteReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>

        <!-- 系统广播接收提供器 -->
        <receiver
            android:name=".receiver.MyBroadcastReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="com.example.test1.MY_BROADCAST" />
            </intent-filter>
        </receiver>

        <!-- 自定义广播接收器 -->
        <receiver
            android:name=".receiver.AnotherBroadcastReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter android:priority="100">
                <action android:name="com.example.test1.MY_BROADCAST" />
            </intent-filter>
        </receiver>

        <!-- 自定义内容提供器 -->
        <provider
            android:name=".provider.DatabaseProvider"
            android:authorities="com.example.databasetest.provider"
            android:enabled="true"
            android:exported="true" />

        <!-- 获取相机文件内容提供器 -->
        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="com.example.cameraalbumtest.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <activity android:name=".activity.PlayMusicActivity" />
        <activity android:name=".activity.WebViewActivity" />
        <activity android:name=".activity.HttpURLConnectionActivity" />
        <activity android:name=".activity.OkHttpActivity" />
        <activity android:name=".activity.PullWithXMLActivity" />
        <activity android:name=".activity.HttpUtilActivity" />

        <service
            android:name=".service.MyService"
            android:enabled="true"
            android:exported="true" />

        <service
            android:name=".service.MyIntentService"
            android:enabled="true"
            android:exported="true" />

        <activity android:name=".activity.ServiceActivity"></activity>
    </application>

</manifest>